<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <File name="Root" fileName="logs/PSTB.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <Routing name="Server">
	        <Routes pattern="${ctx:server}">
	            <Route>
	                <File name="${ctx:server}" fileName="logs/${ctx:server}.log" immediateFlush="false" append="false">
	                   <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	                </File>
	            </Route>
	        </Routes>
	    </Routing>
        
        <Routing name="Broker">
	        <Routes pattern="${ctx:broker}">
	            <Route>
	                <File name="${ctx:broker}" fileName="logs/Brokers/${ctx:broker}.log" immediateFlush="false" append="false">
	                   <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	                </File>
	            </Route>
	        </Routes>
	    </Routing>
	    
	    <Routing name="Client">
	        <Routes pattern="${ctx:client}">
	            <Route>
	                <File name="${ctx:client}" fileName="logs/Clients/${ctx:client}.log" immediateFlush="false" append="false">
	                   <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	                </File>
	            </Route>
	        </Routes>
	    </Routing>
	    
	    <Routing name="Node">
	        <Routes pattern="${ctx:node}">
	            <Route>
	                <File name="${ctx:node}" fileName="logs/Nodes/${ctx:node}.log" immediateFlush="false" append="false">
	                   <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	                </File>
	            </Route>
	        </Routes>
	    </Routing>
	    
	    <File name="SystemError" fileName="logs/PADRES/SystemError.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
	    
	    <File name="Exception" fileName="logs/PADRES/Exception.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="BC" fileName="logs/PADRES/BC.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="Controller" fileName="logs/PADRES/Controller.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="LCM" fileName="logs/PADRES/LCM.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
    	<File name="OM" fileName="logs/PADRES/OM.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="SIM" fileName="logs/PADRES/SIM.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="SM" fileName="logs/PADRES/SM.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="Router" fileName="logs/PADRES/Router.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="ReteMatcher" fileName="logs/PADRES/ReteMatcher.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="CS" fileName="logs/PADRES/CS.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="HB" fileName="logs/PADRES/HeartBeat.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="DBB" fileName="logs/PADRES/DBB.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="Performance" fileName="logs/PADRES/Performance.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="Message" fileName="logs/PADRES/Message.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="MessagePath" fileName="logs/PADRES/MessagePath.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="LD" fileName="logs/PADRES/LD.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <File name="PADRES-C" fileName="logs/PADRES/C.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Root"/>
        </Root>
        <Logger name="pstb.creation.server.PSTBServer" level="debug" additivity="false">
        	<AppenderRef ref="Server"/>
        </Logger>
        <Logger name="pstb.benchmark.process.PSTBProcess" level="debug" additivity="false">
        	<AppenderRef ref="Node"/>
        </Logger>
        <Logger name="pstb.benchmark.process.broker.PSTBBrokerProcess" level="debug" additivity="false">
        	<AppenderRef ref="Broker"/>
        </Logger>
        <Logger name="pstb.benchmark.process.client.PSTBClientProcess" level="debug" additivity="false">
        	<AppenderRef ref="Client"/>
        </Logger>
        <Logger name="SystemError" level="warn" additivity="false">
        	<AppenderRef ref="SystemError"/>
        </Logger>
        <Logger name="Exception" level="warn" additivity="false">
        	<AppenderRef ref="Exception"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.brokercore.BrokerCore" level="debug" additivity="false">
        	<AppenderRef ref="BC"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.controller.Controller" level="debug" additivity="false">
        	<AppenderRef ref="Controller"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.controller.LifeCycleManager" level="debug" additivity="false">
        	<AppenderRef ref="LCM"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.controller.OverlayManager" level="debug" additivity="false">
        	<AppenderRef ref="OM"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.controller.ServerInjectionManager" level="debug" additivity="false">
        	<AppenderRef ref="SIM"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.monitor.SystemMonitor" level="debug" additivity="false">
        	<AppenderRef ref="SM"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.router.Router" level="debug" additivity="false">
        	<AppenderRef ref="Router"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.broker.router.matching.rete.ReteMatcher" level="debug" additivity="false">
        	<AppenderRef ref="ReteMatcher"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.common.comm.CommSystem" level="debug" additivity="false">
        	<AppenderRef ref="CS"/>
        </Logger>
        <Logger name="HeartBeat" level="debug" additivity="false">
        	<AppenderRef ref="HB"/>
        </Logger>
        <Logger name="DBBinding" level="debug" additivity="false">
        	<AppenderRef ref="DBB"/>
        </Logger>
        <Logger name="Performance" level="debug" additivity="false">
        	<AppenderRef ref="Performance"/>
        </Logger>
        <Logger name="Message" level="debug" additivity="false">
        	<AppenderRef ref="Message"/>
        </Logger>
        <Logger name="MessagePath" level="debug" additivity="false">
        	<AppenderRef ref="MessagePath"/>
        </Logger>
        <Logger name="LoopDetection" level="debug" additivity="false">
        	<AppenderRef ref="LD"/>
        </Logger>
        <Logger name="ca.utoronto.msrg.padres.client.Client" level="debug" additivity="false">
        	<AppenderRef ref="PADRES-C"/>
        </Logger>
        
    </Loggers>
</Configuration>